<nav class="navbar fixed-top navbar-light bg-white">
  <h1 class="navbar-brand mb-0">{{ title }}</h1>
   <div>
      <div data-toggle="modal" data-target="#exampleModal"></div>
      <a href="#" (click)="getOut()" style="margin-left: 25px">Sair</a>
  </div>
</nav>