       <form [formGroup]="form" (ngSubmit)="authenticate()">
      <div class="form-group content">
        <span class="input input--jiro">
        <input 
          type="email" 
          id="input-11"
          class="form-control input__field input__field--jiro" 
          formControlName="email"
        >
        <label class="input__label input__label--jiro" for="input-11">
          <span class="input__label-content input__label-content--jiro">Email</span>
        </label>
      </span>
      </div>

      <div class="form-group content">
        <span class="input input--jiro">
        <input 
          type="password"
          id="input-12"
          class="form-control input__field input__field--jiro" 
          formControlName="password"
        >
        <label class="input__label input__label--jiro" for="input-12">
          <span class="input__label-content input__label-content--jiro">Password</span>
        </label>
      </span>
      </div>
      <button type="submit" class="btn btn-secondary btn-sm btn-block">Entrar</button>
    </form>
    <hr />

    <p class="small text-danger text-center">Entre com seu login e senha</p>


<br />
<div class="card" style="width: 30rem;">
  <div class="card-body">
    <p class="card-text text-center">
     {{ detail }} <a href="#" (click)="displayPanelRegister()" class="card-link">Cadastre-se</a>
    </p> 
  </div>
</div>

