<div class="container d-flex justify-content-center">
  <div class="row">
    <div *ngIf="register; else formLogin">
      <div 
        class="col-xl-12 col-lg-9 col-sm-6 d-flex justify-content-center" 
      >
        <app-register (displayPanel)="displayPanel($event)"></app-register>
      </div>  
    </div>
    <ng-template #formLogin>
      <div 
        class="col-xl-12 col-sm-6 d-flex justify-content-center" 
      >
        <app-login (displayPanel)="displayPanel($event)"></app-login>
      </div>  
    </ng-template>

  </div>
</div>

