    <form [formGroup]="form" (ngSubmit)="registerUser()">
      <div class="form-group content">
        <span class="input input--jiro">
        <input 
          type="email" 
          id="input-12"
          class="form-control input__field input__field--jiro" 
          formControlName="email"
        >
        <label class="input__label input__label--jiro" for="input-12">
          <span class="input__label-content input__label-content--jiro">Email</span>
        </label>
      </span>

      </div>
      <div class="form-group content">
        <span class="input input--jiro">
        <input 
          type="text"
          id="input-13"
          class="form-control input__field input__field--jiro" 
          formControlName="full_name"
        >
        <label class="input__label input__label--jiro" for="input-13">
            <span class="input__label-content input__label-content--jiro">Name</span>
          </label>
        </span>
      </div>

      <div class="form-group content">
        <span class="input input--jiro">
        <input 
          type="text"
          id="input-14"
          class="form-control input__field input__field--jiro" 
          formControlName="user_name"
        >
      <label class="input__label input__label--jiro" for="input-14">
          <span class="input__label-content input__label-content--jiro">User</span>
        </label>
      </span>
    </div>
      <div class="form-group content">
        <span class="input input--jiro">
        <input 
          type="password"
          id="input-15"
          class="form-control input__field input__field--jiro" 
          formControlName="password"
        >
        <label class="input__label input__label--jiro" for="input-15">
            <span class="input__label-content input__label-content--jiro">Password</span>
          </label>
        </span>
      </div>

      <button type="submit" class="btn btn-secondary btn-sm btn-block">Cadastre-se</button>
    </form>
    <hr />

    <p class="small text-center">Ao cadastrar-se, você concorda com nossos <b>Termos</b> e <b>Política de Privacidade</b>. E também que todo seu dinheiro é meu agora. Obrigado!</p>

<br />
<div class="card" style="width: 50rem;">
  <div class="card-body">
    <p class="card-text text-center">
      Tem uma conta? <a href="#" (click)="displayPanelLogin()" class="card-link">Faça login</a>
    </p> 
  </div>
</div>
