<div *ngIf="jogoEmAndamento; else fimDeJogo ">
  <app-top-panel (encerrarJogo)="encerrarJogo($event)"></app-top-panel>
</div>
<ng-template #fimDeJogo>
  <div *ngIf="tipoEncerramento === 'derrota'; else fimDeJogoVitoria" class="container" style="margin-top: 50px">
      <div class="row">
          <div class="col">
              <h3 style="color: red">Fim de jogo, infelizmente você perdeu :S</h3>
      <button class="btn btn-primary" (click)="reiniciarJogo()">Jogar novamente</button>
          </div>
      </div>
  </div>
</ng-template>
<ng-template #fimDeJogoVitoria>
  <div class="container" style="margin-top: 50px">
      <div class="row">
          <div class="col">
              <h3 style="color: green">Fim de jogo, você ganhou :D</h3>
      <button class="btn btn-primary" (click)="reiniciarJogo()">Jogar novamente</button>
          </div>
      </div>
  </div>
</ng-template>
