@font-face {
  font-family: 'Raleway';
  src: url('./assets/_Fonts/Raleway/Raleway-ExtraLight.ttf');
  font-weight: 200;
}
@font-face {
  font-family: 'Raleway';
  src: url('./assets/_Fonts/Raleway/Raleway-ExtraBold.ttf');
  font-weight: 800;
}