<app-top-panel></app-top-panel>

<div class="container">
  <div class="jumbotron">
      <div class="row">
            <!-- <div class="col-sm-6">
                <app-progress [progress]="progress"></app-progress>
            </div> -->
          <!-- <div class="col-sm-6">
              <div class="d-flex justify-content-end">
                  <app-attempts [attempts]="attempts"></app-attempts>
              </div>
          </div> -->
      </div>

      <div class="row">
          <div class="col">
              <h6>{{ instruction }}</h6>
              <img src="{{roundPhrase.image}}">
              <p>{{ roundPhrase.phraseEng }}</p>
              <div class="form-group">
                  <input 
                      class="form-control" 
                      rows="3"
                      (input)="updateResponse($event)"
                      [value]="answer"
                  >
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col">
              <div class="d-flex justify-content-end">
                  <button type="button" class="btn btn-primary" (click)="verifyAwnser()">Verificar</button>
              </div>
          </div>
      </div>
  </div>
</div>

<app-endgame></app-endgame>